#root {
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  width: 100%;
  height: 100%;
}

#container {
  display: inline-block;
  border-radius: 0.5rem;
  box-shadow: 0 10px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19) !important;
  width: 1920px;
  height: 1080px;
}

#charts {
  margin-bottom: 20px;
}
